html,
body,
.map_container {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  background: #fafafa;
}
body {
  padding: 2em;
}

.map_container {
  position: relative;
  float: left;
  height: 80%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.markerlabel {
  border: 1px solid #333;
  padding: .3em;
  background: #fff;
  color: #333;
}

#alertbox {
  opacity: 1;
  font-family: sans-serif;
  padding: .5em 1em;
  border-radius: 5px;
  margin: 0;
}

@-webkit-keyframes opacity {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-moz-keyframes opacity {
0% { opacity: 1; }
100% { opacity: 0; }
}

#alertbox span {
-webkit-animation-name: opacity;
-webkit-animation-duration: 1s;
-webkit-animation-iteration-count: infinite;

-moz-animation-name: opacity;
-moz-animation-duration: 1s;
-moz-animation-iteration-count: infinite;
}

#alertbox span:nth-child(2) {
-webkit-animation-delay: 100ms;
-moz-animation-delay: 100ms;
}

#alertbox span:nth-child(3) {
-webkit-animation-delay: 300ms;
-moz-animation-delay: 300ms;
}

#alertbox.found {
transition: 3s opacity;
opacity: 0;
}
